## Copyright (C) 2012 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: msgcollector
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 12), genmkfile, config-package-dev
Homepage: https://www.whonix.org
Vcs-Browser: https://github.com/Whonix/msgcollector
Vcs-Git: https://github.com/Whonix/msgcollector.git
Standards-Version: 4.3.0

Package: msgcollector
Architecture: all
Depends: python3, sudo, inotify-tools, procps, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Notification System for Terminal
 Collects messages by applications using this system and dispatches them in
 terminal.
 .
 For gui support also install package msgcollector-gui.

Package: msgcollector-gui
Architecture: all
Depends: msgcollector, wmctrl, python3-pyqt5, zenity,
 libnotify-bin | kde-baseapps-bin, mate-notification-daemon, x11-utils,
 ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Notification System for X
 Collects messages by applications using this system and dispatches them in X.
 .
 A metapackage that installs required dependencies for X support.
