## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: msgcollector
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), config-package-dev
Homepage: https://www.whonix.org
Vcs-Browser: https://github.com/Whonix/msgcollector
Vcs-Git: https://github.com/Whonix/msgcollector.git
Standards-Version: 4.6.1.0
Rules-Requires-Root: no

Package: msgcollector
Architecture: all
Depends: python3, sudo, inotify-tools, procps, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Command Line Interface Messages Toolkit Library
 A programming library providing an application programming interface (API)
 that allows the programmer to output colored text in terminal user interfaces
 (CLI).
 .
 Applications can send messages to msgcollector which it collects and
 dispatches once instructed to do so by the application.
 .
 For clarity and avoidance of confusion, msgcollector does not collect any
 data. Applications that do not use msgcollector do not interact with
 msgcollector. It is roughly in the same category as ncurses but has of course
 much less and very different features.
 .
 For graphical user interface (GUI) support also install package
 msgcollector-gui.

Package: msgcollector-gui
Architecture: all
Depends: msgcollector, wmctrl, python3-pyqt5, zenity,
 libnotify-bin | kde-baseapps-bin, mate-notification-daemon, x11-utils,
 ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Graphical User Interface Toolkit Library
 A programming library providing an application programming interface (API)
 that allows the programmer to output colored text in graphical user interfaces
 (GUI).
 .
 Applications can send messages to msgcollector which it collects and
 dispatches once instructed to do so by the application.
 .
 For clarity and avoidance of confusion, msgcollector does not collect any
 data. Applications that do not use msgcollector do not interact with
 msgcollector. It is roughly in the same category as Qt or GDK but has of
 course much less and very different features.
 .
 A metapackage that installs required dependencies for graphical user interface
 support.
