## Copyright (C) 2024 - 2024 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

## Do not use sudo!
#systemctl --user enable msgcollector
#systemctl --user start msgcollector
#systemctl --user status msgcollector
#journalctl --user -f -u msgcollector

[Unit]
Description=msgcollector msgdispatcher

[Service]
Type=simple
ExecStart=/usr/libexec/msgcollector/msgdispatcher --gui

[Install]
## Not functional in Qubes.
## systemctl --user status graphical-session.target
## Qubes fails to start/activate systemd graphical-session.target target #9576
## https://github.com/QubesOS/qubes-issues/issues/9576
#WantedBy=graphical-session.target
WantedBy=default.target
