## Copyright (C) 2024 - 2024 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

## Do not use sudo!
#systemctl --user enable msgcollector
#systemctl --user start msgcollector
#systemctl --user status msgcollector
#journalctl --user -f -u msgcollector

[Unit]
Description=msgcollector msgdispatcher
#PartOf=graphical-session.target
#After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/libexec/msgcollector/msgdispatcher --gui

[Install]
WantedBy=graphical-session.target
