## Copyright (C) 2012 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Name=msgdispatcher
Comment=message dispatcher (msgdispatcher) service that shows messages by message collector (msgcollector)
Type=Application
Exec=/usr/lib/msgcollector/msgdispatcher_xdg_autostart
